<h1>Sections</h1>

<% if @sections %>
  <ul>
    <% @sections.each do |section| %>
       <li> <%= link_to section.name, section_path(section) %> </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no sections</p>
<% end %>
